.header {
  width: 320px;
  background-color: white;
  display: flex; }
  .header__button {
    margin: 24px 16px; }
    .header__button--menu {
      background-image: url(./static/Burger.svg); }
    .header__button--phone {
      background-image: url(./static/phone.svg); }
    .header__button--message {
      background-image: url(./static/message.svg); }
    .header__button--contact {
      background-image: url(./static/Contact.svg); }
    .header__button--setting {
      margin-right: 0;
      margin-left: 39px;
      background-image: url(./static/Setting.svg); }
    .header__button--search {
      background-image: url(./static/DoSearch.svg); }
  .header__logo {
    margin-top: 19px;
    width: 97px; }
    .header__logo::after {
      position: absolute;
      content: " ";
      margin-left: 113px;
      margin-top: 10px;
      width: 2px;
      height: 32px;
      border-radius: 1px;
      background-color: #eaeaea; }

@media (max-width: 767px) {
  .header {
    margin: auto; }
  .header__button--phone {
    display: none; }
  .header__button--message {
    display: none; }
  .header__button--contact {
    display: none; } }

@media (min-width: 768px) {
  .header {
    margin: auto;
    width: 768px; }
    .header__logo {
      margin-top: 19px;
      margin-left: 30px;
      width: 97px; }
      .header__logo::after {
        position: absolute;
        content: " ";
        margin-left: -24px;
        margin-top: 10px; }
    .header__button--phone {
      display: block;
      margin-left: 250px;
      margin-right: 0px; }
    .header__button--message {
      display: block;
      margin-left: 16px;
      margin-right: 0px; }
    .header__button--contact {
      display: block;
      margin-left: 16px; }
      .header__button--contact::after {
        position: absolute;
        content: " ";
        margin-left: 47px;
        margin-top: -15px;
        width: 2px;
        height: 32px;
        border-radius: 1px;
        background-color: #eaeaea; } }

@media (min-width: 1120px) {
  .header {
    display: none; } }

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  border: none;
  background-repeat: no-repeat;
  background-position: center; }

.logo {
  width: 97px;
  height: 51px;
  background-image: url(./static/LOGO.svg);
  background-repeat: no-repeat;
  background-position: center; }

.blog {
  background-color: #f8f8f8;
  width: 320px; }
  .blog__title {
    padding-top: 24px;
    margin-left: 35px; }
  .blog__menu {
    margin: 24px 0; }

@media (max-width: 767px) {
  .blog {
    width: 320px;
    margin: auto; }
    .blog__title {
      margin-left: 16px; } }

@media (min-width: 768px) {
  .blog {
    width: 768px;
    margin: auto; }
    .blog__title {
      margin-left: 24px; } }

@media (min-width: 1120px) {
  .blog {
    width: 1120px;
    height: 535px;
    margin: auto; } }

.title {
  font-size: 20px;
  font-weight: bold;
  display: flex; }
  .title__button {
    display: none; }
  .title__link {
    font-size: 16px;
    font-weight: normal;
    display: none; }
  .title::after {
    content: " ";
    border-right: 4px solid #41f6d7;
    width: 4px;
    height: 40px;
    border-radius: 6px;
    position: absolute;
    margin-top: 0px;
    margin-left: -27px; }

@media (max-width: 767px) {
  .title::after {
    content: " ";
    border-right: 4px solid #41f6d7;
    width: 4px;
    height: 40px;
    border-radius: 6px;
    position: absolute;
    margin-top: 0px;
    margin-left: -20px; } }

@media (min-width: 1120px) {
  .title__button--setting {
    display: flex;
    background-image: url(./static/Setting.svg); }
  .title__button--search {
    display: flex;
    background-image: url(./static/DoSearch.svg); }
  .title__link--order {
    display: flex;
    margin-top: 10px;
    margin-left: 450px;
    margin-right: 8px; }
  .title__link--status {
    display: flex;
    margin-top: 10px;
    margin-left: 32px;
    margin-right: 8px; } }

.menu {
  overflow-x: scroll; }
  .menu__wrapper {
    display: flex;
    width: 1200px; }
  .menu__item {
    padding: 8px 9px;
    margin-left: 16px; }
    .menu__item--active {
      border: 2px solid #b8ffec;
      border-radius: 6px; }

@media (min-width: 1120px) {
  .menu {
    overflow-x: hidden; }
    .menu__wrapper {
      display: flex;
      width: 1120px;
      flex-wrap: wrap; } }

.paper__article {
  font-size: 14px;
  width: 288px;
  height: 90px;
  margin: 0 auto; }

.paper__readmore {
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  margin-top: 24px;
  margin-left: 24px; }
  .paper__readmore > img {
    padding-right: 16px; }

.paper__image {
  margin-top: 16px; }

@media (max-width: 767px) {
  .paper__text--second {
    display: none; } }

@media (min-width: 768px) {
  .paper {
    display: flex; }
    .paper__article {
      letter-spacing: 0.2px;
      line-height: 20px;
      width: 312px;
      height: 160px;
      margin-left: 24px;
      overflow: hidden; }
    .paper__readmore {
      position: absolute;
      margin-top: 180px;
      margin-left: 33px; }
    .paper__image {
      width: 360px;
      height: 259px; }
      .paper__image > img {
        border-radius: 5px;
        width: 360px;
        height: 240px;
        margin-top: -20px;
        margin-left: -30px; } }

@media (min-width: 1120px) {
  .paper {
    display: flex; }
    .paper__article {
      width: 490px;
      height: 160px;
      margin-left: 34px; }
    .paper__readmore {
      position: absolute;
      margin-top: 170px;
      margin-left: 40px; }
    .paper__image {
      width: 531px;
      height: 383px; }
      .paper__image > img {
        border-radius: 5px;
        width: 531px;
        height: 300px;
        margin-top: -20px;
        margin-left: -30px; } }

.swiper {
  width: 320px;
  height: 120px; }

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 72px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF; }
  .swiper-slide__image {
    display: block;
    margin-left: 16px; }
  .swiper-slide__button {
    border: 2px solid  #FF3E79;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(./static/rightArrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent; }

.swiper-wrapper {
  margin-left: 16px; }

@media (min-width: 768px) {
  .swiper-pagination {
    display: none; }
  .swiper {
    width: 768px;
    height: 180px; }
  .swiper-wrapper {
    margin: 0 22px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; }
  .swiper-slide {
    width: 222px;
    margin-right: 24px;
    margin-bottom: 16px; } }

@media (min-width: 1120px) {
  .swiper-pagination {
    display: none; }
  .swiper {
    width: 1120px;
    height: 180px; }
  .swiper-wrapper {
    margin: 0 32px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; }
  .swiper-slide {
    width: 240px;
    margin-right: 24px;
    margin-bottom: 16px; } }

.repair {
  background-color: #F8F8F8;
  width: 320px;
  height: 300px; }
  .repair__button {
    margin-top: 24px;
    margin-left: 32px; }

.view {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21; }
  .view__image {
    padding-right: 16px; }

@media (max-width: 767px) {
  .repair {
    width: 320px;
    margin: auto; }
  .view {
    display: none; } }

@media (min-width: 768px) {
  .repair {
    width: 768px;
    margin: auto; } }

@media (min-width: 1120px) {
  .repair {
    width: 1120px;
    margin: auto; }
    .repair__button {
      margin-top: 24px;
      margin-left: 39px; } }

.caption {
  background: linear-gradient(to right, #F8F8F8, #FFFFFF);
  width: 320px; }
  .caption__technical {
    color: #7E7E82;
    width: 288px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 16px;
    margin: 0 16px 16px 16px; }

@media (min-width: 768px) {
  .caption {
    width: 768px; }
    .caption__technical {
      width: 360px;
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      padding-top: 16px;
      margin: 0 16px 16px 24px; } }

@media (min-width: 1120px) {
  .caption {
    width: 1120px; }
    .caption__technical {
      width: 360px;
      height: 24px;
      font-size: 16px;
      line-height: 24px;
      padding-top: 16px;
      margin: 0 16px 16px 32px; } }

.card {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 72px;
  border-radius: 6px;
  border: 1px solid #EAEAEA; }

@media (min-width: 768px) {
  .card {
    width: 220px; } }

@media (min-width: 1120px) {
  .card {
    width: 240px; } }

.list-card {
  width: 768px;
  overflow: hidden;
  height: 200px;
  display: flex;
  flex-wrap: wrap; }
  .list-card__item {
    margin: 16px; }

@media (max-width: 767px) {
  .list-card {
    display: none; } }

@media (min-width: 1120px) {
  .list-card {
    width: 1120px; } }

.burger-menu {
  width: 320px;
  background-color: #FFFFFF; }

@media (min-width: 320px) {
  .burger-menu {
    display: none; } }

@media (min-width: 768px) {
  .burger-menu {
    display: none; } }

@media (min-width: 1120px) {
  .burger-menu {
    display: none; } }

.burger-header {
  display: flex; }
  .burger-header__menu--cross {
    background-image: url(./static/cross.svg);
    margin: 24px 17px 57px 24px; }
  .burger-header__logo {
    margin: 19px 0 0 0; }
  .burger-header__menu--search {
    background-image: url(./static/search.svg);
    margin: 24px 24px 57px 78px; }

.burger__menu__item {
  padding-left: 24px;
  margin-bottom: 32px; }
  .burger__menu__item--active {
    border-left: 4px solid #41F6D7;
    color: #7E7E82; }

.burger__menu__item:last-of-type {
  margin-bottom: 0; }

.burger-footer__about {
  margin-left: 16px; }

.burger-footer__languages {
  margin-left: 16px; }

.feedback {
  display: flex; }
  .feedback__menu--contact {
    background-image: url(./static/phone.svg);
    margin: 180px 16px 10px 0; }
  .feedback__menu--message {
    background-image: url(./static/message.svg);
    margin: 180px 0 10px 16px; }
  .feedback__menu--contact {
    background-image: url(./static/contact.svg);
    margin: 180px 0 10px 16px; }

.burger-about {
  line-height: 32px; }
  .burger-about__phone {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; }

.languages__language {
  font-size: 16px;
  margin-right: 7px;
  font-weight: bold;
  background-color: #FFFFFF;
  border: none; }
  .languages__language--active {
    color: #7E7E82; }

@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Regular.eot);
  src: local("../fonts/TT Lakes Regular"), local("../fonts/TTLakes-Regular"), url(./fonts/TTLakes-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Bold.eot);
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000000;
  list-style-type: none;
  font-family: "TT Lakes"; }

body {
  background-color: beige; }


/*# sourceMappingURL=style.css.map*/