.burger-menu{
    width: 320px;
    background-color: #FFFFFF;
}

@media(min-width: 320px){
    .burger-menu{
        display: none;
    }
}
@media(min-width: 768px){
    .burger-menu{
        display: none;
    }
}
@media(min-width: 1120px){
    .burger-menu{
        display: none;
    }
}