.swiper{
    width: 320px;
    height: 120px;
    
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    height: 72px;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background-color: #FFFFFF;
    &__image {
        display: block;
        margin-left: 16px;
    }

    &__button {
        border: 2px solid  #FF3E79;
        margin-right: 16px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-image: url("../img/rightArrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
    }
}

.swiper-wrapper{
    margin-left: 16px;
}
@media (max-width: 767px){
    .swiper{
        &::before{
           position: absolute;
           z-index: 3;
           content: " ";
           margin-left: 303px;
           width: 24px;
           height: 81px;
           background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        }
    }
}

@media (min-width: 768px){
    .swiper-pagination{
        display: none;
    }

    .swiper{
        width: 768px;
        height: 180px;
    }
    .swiper-wrapper{
        margin: 0 22px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .swiper-slide{
        width: 222px;
        margin-right: 24px;
        margin-bottom: 16px;
    }
}

@media (min-width: 1120px){
    .swiper-pagination{
        display: none;
    }

    .swiper{
        width: 1120px;
        height: 180px;
    }
    .swiper-wrapper{
        margin: 0 32px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .swiper-slide{
        width: 240px;
        margin-right: 24px;
        margin-bottom: 16px;
    }
}